.scroll-down-button {
  position: absolute;
  bottom: var(--spacing-l);
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: var(--color-background);
  border: none;
  font-size: 3rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
}

.scroll-down-button.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.scroll-down-button:hover {
  transform: translateX(-50%) scale(1.2);
  background-color: transparent;
}
